// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.row{

  .bookmark-box{
    text-align: center;
    padding: 20px;
    margin: 13px;
    border: 2px solid black;
    transition: all .3s ease-in-out;

    &:hover{
      box-shadow: 15px 11px 32px -6px rgba(0,0,0,0.62);
      cursor: pointer;
    }
  }
}
